<option value=' '> --请选择-- </option>
<option value='西宁地区'>西宁地区</option>
<option value='西宁配送'>西宁配送</option>
<option value='格尔木地区'>格尔木地区</option>
<option value='甘宁区'>甘宁区</option>
<option value='广州区'>广州区</option>
<option value='温州区'>温州区</option>
<option value='成都区'>成都区</option>
