<option value="">--请选择--</option>
<optgroup label="温州地区">
  <option value="浙C.M7J06">浙C.M7J06</option>
  <option value="浙C.0910Q">浙C.0910Q</option>
  <option value="浙C.AK976">浙C.AK976</option>
  <option value="浙C.750K0">浙C.750K0</option>
  <option value="浙C.686DQ">浙C.686DQ</option>
  <option value="浙C.C52X7">浙C.C52X7</option>
  <option value="粤R.AY180">粤R.AY180</option>
  <option value="青A.U600">青A.U600</option>
</optgroup>