<option value="">--请选择--</option>
<optgroup label="西宁地区">
  <option value="青A.60883">青A.60883</option>
  <option value="青A.S6639">青A.S6639</option>
  <option value="青A.G3133">青A.G3133</option>
  <option value="青A.1340">青A.1340</option>
  <option value="青A.G3935">青A.G3935</option>
  <option value="青A.53130">青A.53130</option>
</optgroup>