<option value="">--请选择--</option>
<optgroup label="西宁配送">
  <option value="青A.F6931">青A.F6931</option>
  <option value="青A.JB338">青A.JB338</option>
  <option value="青A.Y8019">青A.Y8019</option>
  <option value="青A.N8830">青A.N8830</option>
  <option value="青A.8939C">青A.8939C</option>
  <option value="甘H.72482">甘H.72482</option>
  <option value="青A.2391J">青A.2391J</option>
  <option value="青A.2392J">青A.2392J</option>
  <option value="青A.6870J">青A.6870J</option>
</optgroup>