<option value="">--请选择--</option>
<optgroup label="甘宁地区">
  <option value="甘A.PF148">甘A.PF148</option>
  <option value="青A.X6119">青A.X6119</option>
  <option value="甘H.31651">甘H.31651</option>
  <option value="甘H.72482">甘H.72482</option>
</optgroup>