<option value=''>--请选择--</option>
<option value='集团'>集团</option>
<option value='门店管理考核部'>门店管理考核部</option>
<option value='商品数据管理部'>商品数据管理部</option>
<option value='IT中心'>IT中心</option>
<option value='财务中心'>财务中心</option>
<option value='工程拓展'>工程拓展</option>
<option value='营销策划部'>营销策划部</option>
<option value='人事中心'>人事中心</option>
<option value='行政中心采购'>行政中心采购</option>
<option value='广州分公司'>广州分公司</option>
<option value='温州分公司'>温州分公司</option>
<option value='成都办事处'>成都办事处</option>
<option value='门店'>门店</option>
<% if current_user.name == "关志军" %>
  <option value='广州财务部'>广州财务部</option>
  <option value='广州采购部'>广州采购部</option>
  <option value='广州物流部'>广州物流部</option>
  <option value='温州男皮组'>温州男皮组</option>
  <option value='温州男革组'>温州男革组</option>
  <option value='温州女革组'>温州女革组</option>
  <option value='温州配件组'>温州配件组</option>
  <option value='温州运动帆布组'>温州运动帆布组</option>
  <option value='温州童鞋组'>温州童鞋组</option>
  <option value='温州财务部'>温州财务部</option>
  <option value='温州物流部'>温州物流部</option>
  <option value='温州行政部'>温州行政部</option>
<% end %>
