<option value=''>--请选择--</option>
<option value='集团'>集团</option>
<option value='广州财务部'>广州财务部</option>
<option value='广州采购部'>广州采购部</option>
<option value='广州物流部'>广州物流部</option>
<option value='陈列中心'>陈列中心</option>
