<option value=''>--请选择--</option>
<option value='温州男皮组'>温州男皮组</option>
<option value='温州男革组'>温州男革组</option>
<option value='温州女革组'>温州女革组</option>
<option value='温州配件组'>温州配件组</option>
<option value='温州运动帆布组'>温州运动帆布组</option>
<option value='温州童鞋组'>温州童鞋组</option>
<option value='温州财务部'>温州财务部</option>
<option value='温州物流部'>温州物流部</option>
<option value='温州行政部'>温州行政部</option>
