<%= render 'shared/manage_cars/mcnav' %>
<div style="height: 10px"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <%= bootstrap_flash %>
      <div class="alert alert-dismissable alert-danger">
        <strong><i class="icon-edit"></i> 修改工作信息!</strong>
      </div>
      <div style="height: 30px"></div>
      <%= render 'form' %>
    </div>
  </div><!--/row-->
</div> <!-- /container -->