<option value=' '> --请选择-- </option>
<option value='集团董事长'>集团董事长</option>
<option value='集团总经办'>集团总经办</option>
<optgroup label="买手运营中心">
	<option value='买手运营中心'>买手运营中心</option>
  <option value='买手运营中心-买手一部'>买手运营中心-买手一部</option>
  <option value='买手运营中心-买手二部'>买手运营中心-买手二部</option>
  <option value='买手运营中心-买手三部'>买手运营中心-买手三部</option>
</optgroup>
<optgroup label="采购管理中心">
	<option value='采购管理中心'>采购管理中心</option>
  <option value='采购管理中心-供应商管理部'>采购管理中心-供应商管理部</option>
  <option value='采购管理中心-采购审批部'>采购管理中心-采购审批部</option>
</optgroup>
<optgroup label="零售管理运营中心">
	<option value='零售管理运营中心'>零售管理运营中心</option>
  <option value='零售管理运营中心-商品数据管理部'>零售管理运营中心-商品数据管理部</option>
  <option value='零售管理运营中心-门店管理考核部'>零售管理运营中心-门店管理考核部</option>
  <option value='零售管理运营中心-营销策划部'>零售管理运营中心-营销策划部</option>
  <option value='零售管理运营中心-视觉营销部'>零售管理运营中心-视觉营销部</option>
</optgroup>
<option value='采购管理中心'>网络零售运营中心</option>
<option value='采购管理中心'>加盟零售管理运营中心</option>
<option value='IT中心'>IT中心</option>
<optgroup label="拓展中心">
	<option value='拓展中心'>拓展中心</option>
  <option value='市调部'>市调部</option>
  <option value='拓展部'>拓展部</option>
</optgroup>
<option value='兰州办公区'>兰州办公区</option>
<option value='人事行政中心'>人事行政中心</option>
<optgroup label="财务中心">
	<option value='财务中心'>财务中心</option>
  <option value='财务中心-青海区'>财务中心-青海区</option>
  <option value='财务中心-兰州区'>财务中心-兰州区</option>
  <option value='财务中心-武威区'>财务中心-武威区</option>
</optgroup>
<optgroup label="物流中心">
	<option value='物流中心'>物流中心</option>
  <option value='物流中心-青海区'>物流中心-青海区</option>
  <option value='物流中心-兰州区'>物流中心-兰州区</option>
  <option value='物流中心-武威区'>物流中心-武威区</option>
</optgroup>
<optgroup label="工程部">
	<option value='工程部'>工程部</option>
  <option value='工程部-青海区'>工程部-青海区</option>
  <option value='工程部-兰州区'>工程部-兰州区</option>
  <option value='工程部-武威区'>工程部-武威区</option>
  <option value='工程部-天水区'>工程部-天水区</option>
</optgroup>
<optgroup label="广州分公司">
	<option value='广州分公司'>广州分公司</option>
  <option value='财务中心-广州分部'>财务中心-广州分部</option>
  <option value='物流中心-广州分部'>物流中心-广州分部</option>
  <option value='行政中心-广州分部'>行政中心-广州分部</option>
</optgroup>
<optgroup label="温州分公司">
	<option value='温州分公司'>温州分公司</option>
  <option value='财务中心-温州分部'>财务中心-温州分部</option>
  <option value='行政中心-温州分部'>行政中心-温州分部</option>
  <option value='买手中心-温州分部'>买手中心-温州分部</option>
  <option value='物流中心浙江物流部'>物流中心浙江物流部</option>
  <option value='电商部'>电商部</option>
</optgroup>
<optgroup label="成都分公司">
	<option value='成都分公司'>成都分公司</option>
  <option value='财务中心-成都分部'>财务中心-成都分部</option>
  <option value='行政中心-成都分部'>行政中心-成都分部</option>
  <option value='买手中心-成都分部'>买手中心-成都分部</option>
  <option value='物流中心四川物流部'>物流中心四川物流部</option><option value='NC营运中心西南区'>NC营运中心西南区</option>

</optgroup>
<optgroup label="门店-青海区">
  <option value='门店-西关店'>门店-西关店</option>
  <option value='门店-北大街店'>门店-北大街店</option>
  <option value='门店-三榆店'>门店-三榆店</option>
  <option value='门店-大什字店'>门店-大什字店</option>
  <option value='门店-城北店'>门店-城北店</option>
  <option value='门店-花园店'>门店-花园店</option>
<option value='门店-湟中店'>门店-湟中店</option> <option value='门店-化隆西大街店'>门店-化隆西大街店</option><option value='NC西宁地下街1号店'>NC西宁地下街1号店</option> <option value='NC西宁地下街2号店'>NC西宁地下街2号店</option><option value='NC西宁地下街3号店'>NC西宁地下街3号店</option><option value='NC西宁地下街4号店'>NC西宁地下街4号店</option><option value='NC西宁南小街店'>NC西宁南小街店</option><option value='NC西宁大十字DX5店'>NC西宁大十字DX5店</option><option value='门店-城东店'>门店-城东店</option>
  <option value='门店-格尔木店'>门店-格尔木店</option>
  <option value='门店-湟源店'>门店-湟源店</option>
  <option value='门店-民和店'>门店-民和店</option>
  <option value='门店-五四街店'>门店-五四街店</option>
  <option value='门店-海石湾店'>门店-海石湾店</option>
  <option value='门店-贵德二店'>门店-贵德二店</option>
  <option value='门店-循化店'>门店-循化店</option>
  <option value='门店-大通店'>门店-大通店</option>
  <option value='门店-德令哈店'>门店-德令哈店</option>
    <option value='NC德令哈柴达木路店'>NC德令哈柴达木路店</option>
  <option value='门店-共和店'>门店-共和店</option>
  <option value='门店-互助北街店'>门店-互助北街店</option>
  <option value='门店-互助东街店'>门店-互助东街店</option>
  <option value='门店-平安1号店'>门店-平安1号店</option>
  <option value='门店-大通八一桥店'>门店-大通八一桥店</option>
  <option value='门店-海东市乐都店'>门店-海东市乐都店</option>
  <option value='门店-海西州都兰店'>门店-海西州都兰店</option>
  <option value='门店-格尔木二店'>门店-格尔木二店</option>
  <option value='门店-多巴店'>门店-多巴店</option>
  <option value='门店-果洛店'>门店-果洛店</option>
  <option value='门店-玉树店'>门店-玉树店</option>
  <option value='门店-同仁店'>门店-同仁店</option>
</optgroup>
<optgroup label="门店-甘宁区">
  <option value='门店-东方红店'>门店-东方红店</option>
  <option value='门店-永昌一店'>门店-永昌一店</option>
  <option value='门店-永昌二店'>门店-永昌二店</option>
  <option value='门店-西站三店'>门店-西站三店</option>
  <option value='门店-西站六店'>门店-西站六店</option>
  <option value='门店-张掖路店'>门店-张掖路店</option>
 <option value='NC兰州张掖路地下街1号店'>NC兰州张掖路地下街1号店</option>
<option value='NC兰州张掖路地下街2号店'>NC兰州张掖路地下街2号店</option>
<option value='NC兰州张掖路店'>NC兰州张掖路店</option>
<option value='NC兰州西站三店'>NC兰州西站三店</option>
<option value='NC兰州建兰路DX1店'>NC兰州建兰路DX1店</option>
<option value='NC兰州建兰路DX2店'>NC兰州建兰路DX2店</option>
<option value='NC兰州建兰路DX3店'>NC兰州建兰路DX3店</option>
<option value='NC兰州临夏路店'>NC兰州临夏路店</option>
  <option value='门店-白银公园路店'>门店-白银公园路店</option>
  <option value='门店-白银大什字店'>门店-白银大什字店</option>
  <option value='门店-天水店'>门店-天水店</option>
 <option value='门店-天水华阳店'>门店-天水华阳店</option> 
  <option value='NC天水二马路步行街店'>NC天水二马路步行街店</option> 
 <option value='门店-临洮北大街店'>门店-临洮北大街店</option>
 <option value='门店-西峰庆阳店'>门店-庆阳西峰店</option>
  <option value='NC庆阳小十字DX1店'>NC庆阳小十字DX1店</option>
    <option value='NC庆阳小十字DX1店'>NC庆阳小十字DX1店</option>
	  <option value='NC庆阳小十字DX2店'>NC庆阳小十字DX2店</option>
	  	  <option value='NC庆阳小十字DX3店'>NC庆阳小十字DX3店</option>
 <option value='门店-武威浙大店'>门店-武威浙大店</option>
  <option value='门店-武威店'>门店-武威店</option>
  <option value='门店-民勤店'>门店-民勤店</option>
  <option value='NC武威地下步行街1号店'>NC武威地下步行街1号店</option>
 <option value='NC武威地下步行街2号店'>NC武威地下步行街2号店</option>
 <option value='NC武威地下步行街3号店'>NC武威地下步行街3号店</option>
 <option value='门店-张掖一店'>门店-张掖一店</option>
  <option value='门店-张掖煌嘉店'>门店-张掖煌嘉店</option>
  <option value='门店-宁夏中卫店'>门店-宁夏中卫店</option>
    <option value='NC吴忠朝阳街店'>NC吴忠朝阳街店</option>
</optgroup>
<optgroup label="门店-陕西区">
  <option value='门店-陕西渭南华县北新秦路店'>门店-陕西渭南华县北新秦路店</option>
  <option value='门店-陕西乾县东大街店'>门店-陕西乾县东大街店</option>
</optgroup>

<optgroup label="门店-酒泉地区">
  <option value='门店-酒泉鼓楼店'>门店-酒泉鼓楼店</option>
 <option value='门店-酒泉万达店'>门店-酒泉万达店</option>
<option value='门店-酒泉三店'>门店-酒泉三店</option>
</optgroup>

<optgroup label="门店-成都">
  <option value='NC成都建设路1店'>NC成都建设路1店</option>
</optgroup