<option value='集团董事长'>集团董事长</option>

<option value='集团总经办'>集团总经办</option>
<option value='买手运营中心'>买手运营中心</option>

<option value='买手运营中心-买手一部'>买手运营中心-买手一部</option>

<option value='买手运营中心-买手二部'>买手运营中心-买手二部</option>

<option value='买手运营中心-买手三部'>买手运营中心-买手三部</option>

<option value='买手运营中心-数据分析组'>买手运营中心-数据分析组</option>
<option value='陈列设计中心'>陈列设计中心</option>

<option value='陈列设计中心-陈列设计部'>陈列设计中心-陈列设计部</option>

<option value='陈列设计中心-陈列执行部'>陈列设计中心-陈列执行部</option>

<option value='陈列设计中心-平面设计部'>陈列设计中心-平面设计部</option>

<option value='陈列设计中心-空间设计部'>陈列设计中心-空间设计部</option>
<option value='采购管理中心-供应商管理部'>采购管理中心-供应商管理部</option>

<option value='采购管理中心-采购审批部'>采购管理中心-采购审批部</option>
<option value='零售管理运营中心-商品数据管理部'>零售管理运营中心-商品数据管理部</option>

<option value='零售管理运营中心-门店管理考核部'>零售管理运营中心-门店管理考核部</option>

<option value='零售管理运营中心-营销策划部'>零售管理运营中心-营销策划部</option>
<option value='采购管理中心'>网络零售运营中心</option>
<option value='采购管理中心'>加盟零售管理运营中心</option>
<option value='IT中心'>IT中心</option>
<option value='行政中心-金佰川大学'>行政中心-金佰川大学</option>

<option value='行政中心-人事管理考核部'>行政中心-人事管理考核部'</option>
<option value='行政中心-行政管理部'>行政中心-行政管理部'</option>
<option value='财务中心'>财务中心</option>

<option value='物流中心'>物流中心</option>
<option value='工程部'>工程部</option>
<option value='门店-东方红店'>门店-东方红店</option>

<option value='门店-永昌一店'>门店-永昌一店</option>

<option value='门店-永昌一店'>门店-永昌一店</option>

<option value='门店-永昌二店'>门店-永昌二店</option>

<option value='门店-西站三店'>门店-西站三店</option>

<option value='门店-西站六店'>门店-西站六店</option>

<option value='门店-张掖路店'>门店-张掖路店</option>

<option value='门店-白银公园路店'>门店-白银公园路店</option>

<option value='门店-临洮北大街店'>门店-临洮北大街店</option>

<option value='门店-武威浙大店'>门店-武威浙大店</option>

<option value='门店-武威店'>门店-武威店</option>

<option value='门店-民勤店'>门店-民勤店</option>

<option value='门店-张掖一店'>门店-张掖一店</option>

<option value='门店-张掖煌嘉店'>门店-张掖煌嘉店</option>

<option value='门店-宁夏中卫店'>门店-宁夏中卫店</option>

<option value='门店-陕西渭南华县北新秦路店'>门店-陕西渭南华县北新秦路店</option>

<option value='门店-陕西乾县东大街店'>门店-陕西乾县东大街店</option>
