<option value=''> --请选择-- </option>
<option value='张音财'>张音财</option>
<optgroup label="系统技术组">
  <option value='赵宗仁'>赵宗仁</option> 
</optgroup>
<optgroup label="数据稽查组">
  <option value='闫世红'>闫世红</option> 
</optgroup>  
<optgroup label="系统培训组">
  <option value='应芳'>应芳</option>
</optgroup>
<optgroup label="网络技术组">
  <option value='解安智'>解安智</option>
</optgroup>
<optgroup label="维护支持组">
  <option value='王家澍'>王家澍</option>
  <option value='王凯东'>王凯东</option>
</optgroup>
<optgroup label="软件开发组">
  <option value='王玉萍'>王玉萍</option>
</optgroup>
<optgroup label="甘宁区IT部">
  <option value='赵一超'>赵一超</option>
  <option value='赵岩'>赵岩</option>
</optgroup>
<optgroup label="广州区IT部">
  <option value='覃运贵'>覃运贵</option>
  <option value='常伟民'>常伟民</option>
</optgroup>
