<option value=' '> --请选择-- </option>
<option value='系统技术组'>系统技术组</option>
<option value='数据稽查组'>数据稽查组</option>
<option value='系统培训组'>系统培训组</option>
<option value='网络技术组'>网络技术组</option>
<option value='维护支持组'>维护支持组</option>
<option value='软件开发组'>软件开发组</option>
