
<%= render 'shared/it/it_nav' %>
<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <%= bootstrap_flash %>
<legend>新建权限</legend>

<%= render 'form' %>
    </div>
  </div>
</div>

